body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 34pt;
}

h3 {
  margin-bottom: 0;
}

.main-panel {
  margin: 1%;
}

.breakdown {
  width: 30%;
  float: right;
  margin-right: 15%;
}

.info-entry {
  float: left;
  margin-left: 15%;
  padding: 2%;
  outline: 1px solid black;
  width: 30%;
}

.form-title {
  padding: 0;
  margin: 1%;
  font-size: 15pt;
}

.budget-form {
  padding: 2%;
}

.expense-form {
  padding: 2%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16pt;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
}

.bud-display {
  font-size: 20pt;
}

#expense-list {
  margin: 0;
  padding: 0;
}

#expense-list li {
  list-style-type: none;
  font-size: 15pt;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#budget-chart {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

@media only screen and (max-width: 600px) {
  .breakdown {
    width: 90%;
    float: none;
    align: center;
    margin: 2% 5%;
  }

  .info-entry {
    float: none;
    margin: 0 auto;
    padding: 2%;
    align: center;
    outline: 1px solid black;
    width: 90%;
  }

  #budget-chart {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    height 500px !important;
  }

}
